In [ ]:
!pip install scikit-surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.3.tar.gz (771 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 772.0/772.0 kB 7.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.9/dist-packages (from scikit-surprise) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.9/dist-packages (from scikit-surprise) (1.10.1)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.3-cp39-cp39-linux_x86_64.whl size=3195810 sha256=50fbcee55c53c74f563ad1e023f5e851208be3cbc5168248d5c4f601882712be
  Stored in directory: /root/.cache/pip/wheels/c6/3a/46/9b17b3512bdf283c6cb84f59929cdd5199d4e754d596d22784
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.3

In [ ]:
import pandas as pd
import numpy as np
from surprise import SVDpp
from surprise import Dataset, Reader
from surprise.model_selection import train_test_split
from surprise import accuracy

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data_ini = pd.read_csv("/content/Feedback.csv", index_col=0)
data = data_ini.stack(dropna=False).reset_index()
data.columns = ["user_id", "item_id", "rating"]
data["item_id"] = data["item_id"].apply(lambda x: int(x[1:]) - 1)

data_no_nan = data.dropna()

reader = Reader(rating_scale=(1, 5))
data_surprise = Dataset.load_from_df(data_no_nan, reader)
trainset = data_surprise.build_full_trainset()
print("data_surprise",data_surprise)

data_surprise <surprise.dataset.DatasetAutoFolds object at 0x7f5f1a293910>

In [ ]:
svdpp = SVDpp(cache_ratings=False)
svdpp.fit(trainset)


n_users = 41
n_items = 15
filled_ratings = np.empty((n_users, n_items))

for user in range(n_users):
    for item in range(n_items):
        item_name = f"V{item + 1}"
        filled_ratings[user, item] = svdpp.predict(user + 1, item).est if pd.isna(data_ini.at[user+1, f'V{item + 1}']) else data_ini.at[user+1, f'V{item + 1}']

filled_ratings_df = pd.DataFrame(filled_ratings, columns=[f"V{i + 1}" for i in range(n_items)], index=range(1, n_users + 1))
filled_ratings_df

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15
1,3.000000,2.782989,2.770806,3.000000,3.845519,3.000000,3.000000,2.800740,3.079836,3.000000,3.000000,3.491826,4.000000,3.324514,3.000000
2,3.909889,3.000000,3.000000,3.280846,3.795693,3.140002,3.000000,3.000000,3.353427,3.082167,3.000000,3.546889,5.000000,3.401813,3.000000
3,3.486195,2.925733,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.015452,2.978636,2.795381,4.000000,3.000000,3.000000,3.034928
4,4.000000,4.000000,3.112182,3.140006,3.000000,3.158673,3.313467,3.000000,3.444515,2.000000,2.887698,4.000000,3.501395,4.000000,3.117847
5,5.000000,3.986157,5.000000,5.000000,4.512536,4.046396,5.000000,3.934691,5.000000,4.040026,3.918020,5.000000,4.563502,4.266884,5.000000
6,1.000000,2.771594,4.000000,2.000000,3.206270,2.831519,4.000000,2.633839,4.000000,2.000000,2.465134,3.000000,2.972667,3.100833,2.960093
7,3.540216,2.965631,3.000000,4.000000,3.556268,3.000000,3.268865,2.871722,3.000000,2.757550,1.000000,5.000000,3.571030,3.314474,3.000000
8,2.000000,2.215148,2.136111,2.340940,4.000000,2.395874,2.541929,2.000000,1.000000,2.000000,2.085986,3.000000,1.000000,2.582799,2.000000
9,3.000000,3.208523,3.000000,3.256491,3.668575,5.000000,3.562998,3.000000,3.000000,3.057478,3.000000,3.712520,3.000000,4.000000,3.000000
10,4.220295,4.000000,3.971812,5.000000,4.375076,3.868955,4.105739,3.674719,5.000000,3.623391,3.640680,5.000000,4.171067,4.000000,5.000000
11,4.016862,3.000000,3.000000,3.000000,5.000000,3.000000,3.367018,3.000000,3.320213,3.056070,3.019033,3.533176,4.181246,3.312248,3.000000
12,2.000000,2.507799,2.615574,2.849957,4.000000,2.000000,3.000000,2.000000,2.806997,2.418594,2.512785,2.000000,4.000000,2.773834,2.570925
13,4.201450,3.000000,5.000000,5.000000,3.000000,3.648470,3.889387,5.000000,4.000000,3.603508,3.414673,4.190824,5.000000,3.000000,3.663679
14,3.889303,3.000000,3.000000,3.000000,3.788773,3.109332,3.396666,3.000000,3.168707,3.057303,3.000000,3.521406,4.000000,3.385151,2.813221
15,3.188627,2.347374,2.271100,2.485073,3.000000,2.000000,2.650225,2.000000,2.493689,2.000000,2.233594,2.000000,3.176157,2.000000,2.000000
16,4.000000,1.000000,1.000000,1.000000,3.049931,2.351174,2.533990,2.274663,3.000000,2.197729,2.043242,2.737809,3.103034,2.682968,2.000000
17,3.314625,2.305602,2.349656,2.000000,3.264431,2.000000,2.705869,2.000000,2.701282,1.000000,1.000000,3.067691,5.000000,2.883062,2.425134
18,3.000000,3.000000,3.000000,3.000000,3.000000,5.000000,4.000000,5.000000,3.639768,3.254924,3.069902,3.883006,3.000000,3.491058,3.380640
19,4.245345,4.000000,3.313736,3.544847,4.152594,3.436918,4.000000,3.000000,3.603021,3.366980,5.000000,3.841369,4.288367,3.728381,3.000000
20,3.691164,3.351484,4.000000,4.000000,3.713649,3.443283,3.000000,3.236546,2.000000,2.000000,3.181504,5.000000,3.651573,4.000000,5.000000
21,3.542953,1.000000,3.000000,3.000000,3.357205,2.829833,3.005543,5.000000,1.000000,5.000000,1.000000,2.000000,3.558470,4.000000,3.000000
22,5.000000,5.000000,4.334968,5.000000,5.000000,5.000000,4.619507,5.000000,4.376196,5.000000,5.000000,5.000000,5.000000,5.000000,4.303930
23,3.410997,4.000000,4.000000,3.189957,3.473418,1.000000,5.000000,2.000000,3.385407,3.054004,3.000000,3.591178,3.584202,2.000000,3.062619
24,4.000000,2.394323,2.000000,2.000000,3.334944,2.627559,2.811161,2.000000,2.000000,2.000000,2.000000,3.019074,3.494031,2.911237,3.000000
25,3.000000,3.155665,3.000000,3.305182,3.619209,3.000000,3.563236,3.001151,5.000000,3.043086,2.000000,5.000000,3.420231,4.000000,3.499528
26,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.334463,1.950852,1.357850,1.000000,1.000000,1.000000,1.738666,1.511919
27,5.000000,3.085421,2.934361,3.000000,4.200902,3.254494,3.457886,3.000000,3.249206,3.000000,3.145615,3.651867,5.000000,3.000000,3.000000
28,3.757532,3.173602,3.000000,1.000000,3.785030,4.000000,5.000000,3.015188,2.000000,4.000000,4.000000,3.667417,3.000000,3.445322,3.092786
29,3.636941,3.392040,3.000000,3.438022,3.000000,3.305983,3.000000,3.248320,5.000000,5.000000,3.000000,3.964086,3.552797,3.568071,3.592282
30,4.000000,2.903851,2.846174,3.055288,3.000000,2.948335,3.144336,3.000000,2.991792,2.000000,3.000000,3.000000,3.566064,3.259755,3.000000
31,2.000000,2.429127,4.000000,2.556544,3.000000,2.505828,2.000000,2.427432,1.000000,2.340807,2.276135,3.000000,2.000000,2.000000,2.713565
32,5.000000,3.160245,3.126047,3.387651,4.000000,3.000000,3.639364,3.000000,4.000000,3.000000,3.114962,3.734449,5.000000,3.695622,3.000000
33,3.264604,3.043244,4.000000,3.067835,3.317684,3.000000,3.268679,2.799446,2.000000,2.908810,5.000000,3.706441,2.000000,2.000000,3.285976
34,5.000000,3.000000,3.104888,3.352883,5.000000,4.000000,3.678411,2.000000,3.573108,3.258915,2.000000,3.667708,5.000000,3.557847,3.034746
35,3.893816,4.000000,3.000000,4.000000,3.811250,3.284297,3.646473,2.000000,5.000000,3.213744,4.000000,4.000000,3.000000,3.702052,3.226127
36,4.124729,3.591690,3.000000,3.632082,4.045124,3.540799,3.795648,3.422689,3.692971,3.412090,3.000000,5.000000,5.000000,5.000000,3.552790
37,5.000000,3.272064,3.000000,3.213416,3.923975,3.000000,3.675511,3.000000,5.000000,3.000000,3.095875,3.761789,3.000000,3.677176,3.000000
38,3.897832,2.836531,3.000000,3.165909,3.739681,2.000000,3.000000,3.000000,3.369827,3.005345,2.868628,3.482714,5.000000,3.322469,3.000000
39,4.149312,3.000000,3.096304,4.000000,5.000000,3.351613,3.652735,3.000000,5.000000,3.000000,3.000000,3.766484,5.000000,3.602105,1.000000
40,5.000000,2.000000,1.000000,3.000000,3.472368,3.000000,2.000000,1.000000,2.890787,2.439736,2.440209,3.080511,3.476858,4.000000,2.000000
41,5.000000,3.000000,3.317055,3.000000,5.000000,4.000000,3.000000,3.000000,3.492722,3.130225,3.113359,4.000000,3.000000,3.576817,3.279894

In [ ]:
filled_ratings_int_df = (filled_ratings_df.round(0)).astype(int)

In [ ]:
filled_ratings_int_df

    V1  V2  V3  V4  V5  V6  V7  V8  V9  V10  V11  V12  V13  V14  V15
1    3   3   3   3   4   3   3   3   3    3    3    3    4    3    3
2    4   3   3   3   4   3   3   3   3    3    3    4    5    3    3
3    3   3   3   3   3   3   3   3   3    3    3    4    3    3    3
4    4   4   3   3   3   3   3   3   3    2    3    4    4    4    3
5    5   4   5   5   5   4   5   4   5    4    4    5    5    4    5
6    1   3   4   2   3   3   4   3   4    2    2    3    3    3    3
7    4   3   3   4   4   3   3   3   3    3    1    5    4    3    3
8    2   2   2   2   4   2   3   2   1    2    2    3    1    3    2
9    3   3   3   3   4   5   4   3   3    3    3    4    3    4    3
10   4   4   4   5   4   4   4   4   5    4    4    5    4    4    5
11   4   3   3   3   5   3   3   3   3    3    3    4    4    3    3
12   2   3   3   3   4   2   3   2   3    2    3    2    4    3    3
13   4   3   5   5   3   4   4   5   4    4    3    4    5    3    4
14   4   3   3   3   4   3   3   3   3    3    3    4    4    3    3
15   3   2   2   2   3   2   3   2   2    2    2    2    3    2    2
16   4   1   1   1   3   2   3   2   3    2    2    3    3    3    2
17   3   2   2   2   3   2   3   2   3    1    1    3    5    3    2
18   3   3   3   3   3   5   4   5   4    3    3    4    3    3    3
19   4   4   3   4   4   3   4   3   4    3    5    4    4    4    3
20   4   3   4   4   4   3   3   3   2    2    3    5    4    4    5
21   4   1   3   3   3   3   3   5   1    5    1    2    4    4    3
22   5   5   4   5   5   5   5   5   4    5    5    5    5    5    4
23   3   4   4   3   3   1   5   2   3    3    3    4    4    2    3
24   4   2   2   2   3   3   3   2   2    2    2    3    3    3    3
25   3   3   3   3   4   3   4   3   5    3    2    5    3    4    3
26   1   1   1   2   1   1   1   1   2    1    1    1    1    2    2
27   5   3   3   3   4   3   3   3   3    3    3    4    5    3    3
28   4   3   3   1   4   4   5   3   2    4    4    4    3    3    3
29   4   3   3   3   3   3   3   3   5    5    3    4    4    4    4
30   4   3   3   3   3   3   3   3   3    2    3    3    4    3    3
31   2   2   4   3   3   3   2   2   1    2    2    3    2    2    3
32   5   3   3   3   4   3   4   3   4    3    3    4    5    4    3
33   3   3   4   3   3   3   3   3   2    3    5    4    2    2    3
34   5   3   3   3   5   4   4   2   4    3    2    4    5    4    3
35   4   4   3   4   4   3   4   2   5    3    4    4    3    4    3
36   4   4   3   4   4   4   4   3   4    3    3    5    5    5    4
37   5   3   3   3   4   3   4   3   5    3    3    4    3    4    3
38   4   3   3   3   4   2   3   3   3    3    3    3    5    3    3
39   4   3   3   4   5   3   4   3   5    3    3    4    5    4    1
40   5   2   1   3   3   3   2   1   3    2    2    3    3    4    2
41   5   3   3   3   5   4   3   3   3    3    3    4    3    4    3

In [ ]:
filled_ratings_int_df.to_excel('filling.xlsx', index=False)

In [ ]:
filled_ratings_df.to_excel('filling_org.xlsx', index=False)